#texto1{
    width: 80%;
    float: left;
    font-family: Verdana;
    font-size: 150%;
    text-align: justify;
}
#imagen1{

}
#texto2{

}
#imagen2{

}
#separacion{

}
#p_texto1{

}
#p_texto2{
    
}